# Copy to .gitmodules and fill in your actual remote URLs, then run:
#   git submodule sync && git submodule update --init --recursive
[submodule "toolchain"]
	path = toolchain
	url = REPLACE_ME_toolchain.git
	branch = main
[submodule "kernel"]
	path = kernel
	url = REPLACE_ME_kernel.git
	branch = main
[submodule "user"]
	path = user
	url = REPLACE_ME_user.git
	branch = main
[submodule "ports"]
	path = ports
	url = REPLACE_ME_ports.git
	branch = main
